body.college-rankings {
  padding: 0;
}

.dataviz main {
  padding-bottom: 0;
}

.selections {
  margin-bottom: 30px;
  display: block;
}

.selections div {
  width: 30%;
  margin-right: 2%;
  float: left;
  margin-bottom: 30px;
}

.selections div label {
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  margin-top: 10px;
}

.selections select, .selections button, .selections input, button {
  width: 100%;
  outline: none;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  padding: 8px 30px;
  height: 40px;
  font-size: 14px;
  letter-spacing: .5px;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

button {
  width: 94%;
  margin-bottom: 30px;
}

main .inputs button:hover {
  cursor: pointer;
}

.dataviz main .left, .dataviz main .right {
  height: 100vh;
  overflow: none;
}

.dataviz main .left {
  width: 40%;
  height: auto;
  overflow: scroll;
  background-color: white;
  max-height: 100vh;
}

.dataviz main .right {
  width: 60%;
  background-color: #111;
}

line, rect, text {
  fill: white;
}

text {
  text-transform: capitalize;
  font-size: 14px;
}

path,line {
  stroke: transparent;
}

.svg-container {
  height: 100%;
  overflow: visible;
  min-height: 300px;
}

svg {
  overflow: visible;
}

@media only screen and (max-width: 700px) {
  main .inputs div {
    width: 100%;
    margin-bottom: 20px;
  }
  .dataviz main .right {
    padding: 10%;
    height: 45vh;
  }
}
