* {
  padding: 0;
  margin: 0;
}

body {
  padding: 5vw;
  font-family: -apple-system, system-ui, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  height: 100%;
}

body.dark {
  background-color: #111;
  color: white;
}

header {
  border-bottom: 1px solid #E9E9E9;
  padding: 0 0 2vw 0;
}

header h3 {
  margin-top: 10px;
  font-weight: 700;
  font-weight: normal;
}

.container {
  padding: 50px 0;
  box-sizing: border-box;
}

hr {
  height: 1px;
  background: #E9E9E9;
  border: 0;
}

nav, main {
  float: left;
  overflow: hidden;
}

nav {
  padding: 0 20px;
  margin: 0 auto;
  width: 20vw;
  box-sizing: border-box;
  margin-right: 5vw;
  background-color: #F8F8F8;
  border: 1px solid #E9E9E9;
}

nav ul {
  margin: 20px 0;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav ul li {
  padding: 7px 0;
}

main {
  width: 65vw;
  height: 100%;
}

main > div {
  padding: 60px 0;
  border-bottom: 1px solid #E9E9E9;
}

main > div:first-child {
  padding-top: 0;
}

main > div h3, .dataviz main h3 {
  font-weight: 900;
  text-transform: uppercase;
}

main > div p {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 22px;
}

main > div p a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

main > div b {
  font-size: 15px;
}

main > div ul.tags {
  margin-top: 20px;
}

main > div ul.tags li, input {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  padding: 7px 20px;
  border-radius: 15px;
  border: 1px solid #E9E9E9;
  font-size: 13px;
}

main div .canvas {
  margin: 30px auto;
}

main div p code, .dataviz code {
  background-color: #FAFAFA;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 3px;
}

.dataviz main {
  width: 100%;
  min-height: 70vh;
  padding-bottom: 50px;
}

.dataviz main p {
  margin-top: 30px;
}

.dataviz main h3 {
  margin-bottom: 30px;
}

.dataviz main h3:nth-child(3) {
  margin-top: 40px;
}

.dataviz main > div {
  border-bottom: none;
  padding: 40px 0 140px 0;
}

.dataviz main .left, .dataviz main .right {
  width: 50%;
  padding: 5%;
  box-sizing: border-box;
}

.dataviz main .top, .dataviz main .bottom {
  width: 100%;
  box-sizing: border-box;
}

.dataviz main .left {
  padding-right: 80px;
  float: left;
}

/* usually both elements should float left, but this way i can choose how they arrange themselves on mobile */

.dataviz main .right {
  float: right;
}

.dataviz main .left h4 {
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
}

.dataviz main .left table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.dataviz main .left table th,td {
  padding: 10px;
}

.dataviz main .left table td:first-child {
  text-transform: capitalize;
}

.dataviz main .left table th {
  font-weight: 600;
}

.dataviz main .left table tr {
  border-bottom: 1px solid #E9E9E9;
}

.dataviz main .left table tr:nth-child(even) {
  background-color: #FAFAFA;
}

@media only screen and (max-width: 700px) {
  body {
    padding: 10vw;
  }
  nav, main {
    width: 80vw;
    margin: 0 auto 40px auto;
  }
  .dataviz main .left, .dataviz main .right {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .dataviz main .left {
    padding-right: 5%;
  }
}
