@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300,400');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding: 5vw;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

h1,h3 {
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 60px;
}

ul {
  display: inline-block;
  margin-bottom: 35px;
}

ul li {
  font-size: 15px;
  list-style-type: disc;
  float: left;
  margin: 0 15px;
}

ul li span {
  font-size: 12px;
  color: black;
}

h5 {
  margin-bottom: 5px;
}

p,a {
  color: gray;
  font-size: 12px;
  margin-bottom: 10px;
  text-decoration: none;
}

a {
  border-bottom: 1px solid gray;
}

.visualization {
  margin: 3vw auto;
}

.container {
  width: auto;
}

svg {
  margin: 0 auto 30px auto;
  display: block;
}

.water,.graticule {
  fill: #C5DBF4;
  cursor: -webkit-grab;
  pointer-events: all;
}

.water, .graticule, .land {
  cursor: -webkit-grab;
}

.graticule {
  stroke: #636B62;
  stroke-width: .5px;
  stroke-dasharray: 2, 2;
  pointer-events: all;
}

.land {
  fill: #FDFBEC;
  stroke: none;
  pointer-events: all;
  stroke: #50576A;
  stroke-width: .25px;
}

.land.focused {
  fill: lightgray;
}

.point {
  opacity: .75;
}

.foreground {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: none;
}
